.container {
    height: 100vh;
    width: 100vw;
    background: rgb(7, 30, 42);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > div > button {
    margin: 4px;
}

.button {
    width: fit-content;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    padding: 4px 8px;
    color: white;
    background: #2c597c;
}

.button:hover {
    filter: brightness(70%);
}

.button:disabled {
    filter: opacity(70%);
    cursor: not-allowed;
}

.button:disabled:hover {
    filter: opacity(70%) brightness(100%);
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
    color: black;
}

.generic {
    background: white;
    color: black;
}

.small {
    border-radius: 2px;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 4px;
}

.medium {
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 8px;
}

.large {
    border-radius: 6px;
    font-size: 20px;
    line-height: 24px;
    padding: 6px 10px;
}

.specialButton {
    background: goldenrod;
    color: white;
    border-radius: 8px;
    font-size: 32px;
    line-height: 36px;
    padding: 10px 14px;
    border: solid 3px transparent;
}

.specialButton:hover {
    border: dashed 3px #8b660a;
    filter: none;
}